<li>
  <div class='pie-bullet'>
    <%= render partial: 'collections/collection_pie_bullet',
      locals: {collection: collection} %>
  </div>
  <div class='coll-description'>
    <h3><%= link_to collection.name, collection_path(collection.id) %></h3>
    <div class='size'>
      <% if collection.size_int > 0 %>
        <span><%= number_with_delimiter(collection.size_int) %></span> 
      <% else %>
        ?
      <% end %>
    	<%= collection.size_int.eql?(1) ? "thing" : "things" %>

	    <% if collection.percentage_digitized %>
    	 &bull; <span><%= collection.percentage_digitized.round %>%</span> have metadata online
  		<% end %>

		<br />
		
		<small>in the <%= collection.department %> department</small>

  	    </div>
  </div>
</li>
