<% content_for :title, "Collections in the " %>

<% content_for :structural_nav do %>
  &rarr; Collections
<% end %>

<div class="row">
	<div class="six columns">
		<h1>Collections</h1>
	</div>
	<div class="six columns right">
		<p><a href="?show=top10" <%= 'class="selected"'.html_safe if @show == 'top10' || @show.blank? %>>Top 10</a> / <a href="?show=by-size" <%= 'class="selected"'.html_safe if @show == 'by-size' %>>By Size, all</a> / <a href="?show=alphabetical" <%= 'class="selected"'.html_safe if @show == 'alphabetical' %>>Alphabetical, all</a>
	</div>

</div>

<% @collections.group_by(&:institution_id).sort.each_slice(3).each do |row| %>

  <div class="row">

    <% row.each do |group| %>
      <div class="one column inst-<%= group[0].downcase %>-bg center"><%= link_to group[0], institution_path(group[0]) %></div>

      <div class="three columns">
        <ul>

          <% if @show == 'alphabetical' %>
            <% group[1].sort_by!(&:name) %>
          <% else %>
            <% group[1].sort_by!(&:size_int).reverse! %>
          <% end %>

          <% if @show == 'top10' || @show.to_s.blank? %>
            <% group[1] = group[1].first(10) %>
          <% end %>


          <% group[1].each do |collection| %>
            <li><%= link_to collection.name, collection_path(collection.id) %> <small><%= pluralize_with_delimiter(collection.size_int, 'thing') %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>
