<% content_for :title, "#{@collection.name} - " %>

<% content_for :structural_nav do %>
  &rarr; <%= link_to "Collections", collections_path %>
  &rarr; <%= @collection.name %>
<% end %>


<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette for collection (one highlighted location)
	</div>
</div>

<div class="row">
	<div class="one column inst-<%= @collection.institution_id.downcase %>-bg center"><%= link_to @collection.institution_id, institution_path(@collection.institution_id) %></div>
	<div class="eleven columns">
		<h1 class="buffer"><%= @collection.name %></h1>
	</div>
</div>
<div class="row">
	<div class="offset-by-one eight columns blurb">

		<p>
			This collection mostly contains
			<%= @collection.types_of_things.collect(&:name).collect {|type_of_thing| link_to(type_of_thing, item_type_path(type_of_thing)) }.to_sentence(last_word_connector: ' and ').html_safe %>

    <% if @collection.subjects.size > 0 %>

    		about
    		<%= @collection.subjects.collect {|subject| link_to(subject, subject_path(subject)) }.to_sentence(last_word_connector: ' and ').html_safe %>

	<% end %>

			  dated about <a href="#" class="pretend" title="Not possible yet"><%= @collection.dates %></a>.

        <% if @collection.places.size > 0 %>
			  Materials are either from or about <%= @collection.places.collect {|places| link_to(places, "#", class: 'pretend', title: "Not possible yet") }.to_sentence(last_word_connector: ' and ').html_safe %>.
        <% end %>

		</p>


    <% if @collection.people.size > 0 %>
  		<h6>Related people</h6>
  		<p>
        <%= @collection.people.collect {|person| link_to(person, person_path(person)) }.to_sentence(last_word_connector: ' and ').html_safe %>
  		</p>
    <% end %>

		<h3><%= pluralize_with_delimiter(@collection.size_int, 'thing') %></h3>

		<ol>
      <% @things.each do |thing| %>
        <li><%= link_to thing.title, thing_path(thing.id) %></li>
      <% end %>
		</ol>

    <!-- If there is no digital metadata available, show this: -->

      <h6>COMMENTS ABOUT THIS COLLECTION</h6>

      <% if @collection['catalog_comments'] %>
        <p><%= Rinku.auto_link(@collection['catalog_comments']).html_safe %></p>
      <% end %>
	</div>



	<div class="three columns stats">

		<div>

      <% if @collection.digitized_metadata_size_int && @collection.size_int && @collection.size_int > 0 %>
        <svg id="collection-pie" class="<%= @collection.institution_id %>" width="156" height="156" viewbox="0 0 156 156">
          <% if @collection.digitized_size_int > 0 %>
            <% end_angle = (@collection.digitized_size_int.to_f / @collection.size_int * 360).floor %>
            <path transform="rotate(-90,78,78)" d="<%= describe_pie_slice(78,78,75,0,end_angle, false) %>" class="digitised" />
          <% end %>
          <% end_angle = (@collection.digitized_metadata_size_int.to_f / @collection.size_int * 360).floor %>
          <% if end_angle >= 360 %>
            <circle cx="78" cy="78" r="75" class="pie full" />
          <% else %>
            <circle cx="78" cy="78" r="75" class="pie" />
            <path transform="rotate(-90,78,78)" d="<%= describe_pie_slice(78,78,75,0,end_angle) %>" class="slice">
          <% end %>
        </svg>
      <% end %>

    </div>

    <h6>STATS</h6>
    <ul>
      <li><span class='<%=@collection.institution_id %>-em total-count'><%= number_with_delimiter(@collection.size_int) %></span> things</li>

      <% if @collection.size_int && @collection.size_int > 0 %>

        <% if @collection.digitized_metadata_size_int == 0 %>

          <li>None of these things have

            <% if @collection.catalog_url %>
              <a href="<%= @collection.catalog_url %>">digital metadata online</a>
            <% else %>
              digital metadata online
            <% end %>

          </li>

        <% else %>

          <li><span class='<%= @collection.institution_id %>-em'><%= (@collection.digitized_metadata_size_int.to_f / @collection.size_int * 100).round %>%</span> have

            <% if @collection.catalog_url %>
              <a href="<%= @collection.catalog_url %>">metadata online</a>
            <% else %>
              digital metadata, but we can't link to it
            <% end %>

          </li>

        <% end %>

          <li>
            <% if @collection.digitized_size_int == 0 %>
              None
            <% else %>
              <span class='digitised-em'><%= (@collection.digitized_size_int.to_f / @collection.size_int * 100).round %>%</span>
            <% end %>
              of those have a <a href="#" class="pretend" title="Not possible yet">digitised version</a> </li>


      <% else %>

        <li>Collection size: <%= @collection['size'] %></li>

      <% end %>

    </ul>


	</div>
</div>


