<% content_for :title, "#{@collection.name} - Collections - " %>

<% content_for :structural_nav do %>
  &rarr; <%= link_to "Collections", collections_path %>
  &rarr; <%= @collection.name %>
<% end %>


<div class="row">
	<div class="four columns stats">

    <%= render partial: 'mapette/mapette',
      locals: {selected_collection: @collection }
    %>

	<br /><br />

	<div class="row">

		<div class="offset-by-two eight columns">
	

    <%= render partial: 'collections/collection_pie',
      locals: {collection: @collection} %>
		
		</div>

	</div>

    <h6>STATS</h6>
    <ul>
      <li>
        <span class='<%=@collection.institution_id %>-em total-count'>
          <% if @collection.size_int && (@collection.size_int > 0 ) %>
            <%= pluralize_with_delimiter(@collection.size_int, 'thing') %>
          <% else %>
            We aren't sure of size
          <% end %>
        </span>
      </li>

      <% if @collection.size_int && @collection.size_int > 0 %>

        <% if @collection.digitized_metadata_size_int == 0 %>


          <li>
            <% if @collection.size_int == 1 %>
              This thing has
            <% else %>
              None of these things have
            <% end %>

            <% if @collection.catalog_url %>
              <a href="<%= @collection.catalog_url %>">metadata online</a>
            <% else %>
              metadata online
            <% end %>

          </li>

        <% else %>

          <li>

            <span class='<%= @collection.institution_id %>-em'><%= (@collection.digitized_metadata_size_int.to_f / @collection.size_int * 100).round %>%</span> have

            <% if @collection.catalog_url %>
              <a href="<%= @collection.catalog_url %>">metadata online</a>
            <% else %>
              metadata online, but we can't link to it
            <% end %>

          </li>

        <% end %>

          <li>
            <% if @collection.digitized_size_int == 0 %>
              None
            <% else %>
              <span class='digitised-em'><%= (@collection.digitized_size_int.to_f / @collection.size_int * 100).round %>%</span>
            <% end %>
              of those have a <a href="#" class="pretend" title="Not possible yet" data-reason="We don't know how to detect digitised things yet.">digitised version</a> </li>


      <% else %>

        <li>Our summary data says '<%= @collection['size'] %>'</li>

      <% end %>

    </ul>


	</div>

	<div class="eight columns collblurb">

		<span style="padding: 5px;" class="inst-<%= @collection.institution_id.downcase %>-bg center"><%= link_to human_name_for_institution(@collection.institution_id), institution_path(@collection.institution_id) %></span><br /><br />

		<h1><%= @collection.name %></h1>

		<p>
			This collection mostly contains
			<%= @collection.types_of_things.collect(&:name).collect {|type_of_thing| link_to(type_of_thing, item_type_path(type_of_thing)) }.to_sentence(last_word_connector: ' and ').html_safe %>

      <% if @collection.subjects.size > 0 %>

        about
        <%= @collection.subjects.collect {|subject| link_to(subject, subject_path(subject)) }.to_sentence(last_word_connector: ' and ').html_safe %>

      <% end %>
      <% if !@collection.dates.blank? %>
        dated about <a href="#" class="pretend" title="Not possible yet" data-reason="We’re not able to parse date strings properly yet."><%= @collection.dates %></a>.
      <% end %>

      <% if @collection.places.size > 0 %>
        Materials are either from or about <%= @collection.places.collect {|places| link_to(places, "#", class: 'pretend', title: "Not possible yet", 'data-reason': "We don’t have usable data for places yet.") }.to_sentence(last_word_connector: ' and ').html_safe %>.
      <% end %>

    </p>


    <% if @collection.people.size > 0 %>
    
  		<h6>Related authors</h6>
  		<p>
        <%= @collection.people.collect {|person| link_to(person, person_path(person)) }.to_sentence(last_word_connector: ' and ').html_safe %>
  		</p>
  		
    <% end %>

    <% if @collection.size_int && (@collection.size_int > 0) %>
      <h3><%= pluralize_with_delimiter(@collection.size_int, 'thing') %></h3>

      <% if @things.size > 0 %>
        <ol>
          <% @things.each do |thing| %>
            <li>
              <%= link_to thing.title, thing_path(thing.id) %>
            <% thing.types_of_things.each do |type_of_thing| %>
              &nbsp;&nbsp;<%= type_of_thing.name %>
            <% end %>
        </li>

          <% end %>
        </ol>
      <% end %>
    <% else %>

      <p>It's hard to know how many things there are in the '<%= @collection.name %>' collection, because we don't have digital metadata for everything.</p>
      
    <% end %>



    <% if @collection['catalog_comments'] %>

      <h6>Staff comments on this collection</h6>

      <p><%= Rinku.auto_link(@collection['catalog_comments']).html_safe %></p>
      
    <% end %>
	</div>	

</div>


