<% content_for :title, "#{@collection.name} - " %>

<% content_for :structural_nav do %>
  &rarr; <%= link_to "Collections", collections_path %>
  &rarr; 
<% end %>


<div class="row" style="margin-top: -20px;">
	<div class="one column inst-<%= @collection.institution_id.downcase %>-bg center"><%= link_to @collection.institution_id, institution_path(@collection.institution_id) %></div>
	<div class="eleven columns blurb">
		<h1><%= @collection.name %></h1>
	</div>
</div>


<div class="row">

	<div class="four columns stats">


    <%= render partial: 'mapette/mapette',
      locals: {selected_collection: @collection }

    %>


	<br /><br /><br />


    <%= render partial: 'collections/collection_pie',
      locals: {collection: @collection} %>


    <h6>STATS</h6>
    <ul>
      <li><span class='<%=@collection.institution_id %>-em total-count'><%= pluralize_with_delimiter(@collection.size_int, 'thing') %></span></li>

      <% if @collection.size_int && @collection.size_int > 0 %>

        <% if @collection.digitized_metadata_size_int == 0 %>


          <li>
            <% if @collection.size_int == 1 %>
              This thing has
            <% else %>
              None of these things have
            <% end %>

            <% if @collection.catalog_url %>
              <a href="<%= @collection.catalog_url %>">metadata online</a>
            <% else %>
              metadata online
            <% end %>

          </li>

        <% else %>

          <li>

            <span class='<%= @collection.institution_id %>-em'><%= (@collection.digitized_metadata_size_int.to_f / @collection.size_int * 100).round %>%</span> have

            <% if @collection.catalog_url %>
              <a href="<%= @collection.catalog_url %>">metadata online</a>
            <% else %>
              metadata online, but we can't link to it
            <% end %>

          </li>

        <% end %>

          <li>
            <% if @collection.digitized_size_int == 0 %>
              None
            <% else %>
              <span class='digitised-em'><%= (@collection.digitized_size_int.to_f / @collection.size_int * 100).round %>%</span>
            <% end %>
              of those have a <a href="#" class="pretend" title="Not possible yet" data-reason="We don't know how to detect digitised things yet.">digitised version</a> </li>


      <% else %>

        <li>Collection size: <%= @collection['size'] %></li>

      <% end %>

    </ul>


	</div>




	<div class="eight columns blurb">

		<p>
			This collection mostly contains
			<%= @collection.types_of_things.collect(&:name).collect {|type_of_thing| link_to(type_of_thing, item_type_path(type_of_thing)) }.to_sentence(last_word_connector: ' and ').html_safe %>

    <% if @collection.subjects.size > 0 %>

    		about
    		<%= @collection.subjects.collect {|subject| link_to(subject, subject_path(subject)) }.to_sentence(last_word_connector: ' and ').html_safe %>

	<% end %>

			  dated about <a href="#" class="pretend" title="Not possible yet" data-reason="We’re not able to parse dates yet."><%= @collection.dates %></a>.

        <% if @collection.places.size > 0 %>
			  Materials are either from or about <%= @collection.places.collect {|places| link_to(places, "#", class: 'pretend', title: "Not possible yet", 'data-reason': "We don’t have the data for this yet.") }.to_sentence(last_word_connector: ' and ').html_safe %>.
        <% end %>

		</p>


    <% if @collection.people.size > 0 %>
  		<h6>Related authors</h6>
  		<p>
        <%= @collection.people.collect {|person| link_to(person, person_path(person)) }.to_sentence(last_word_connector: ' and ').html_safe %>
  		</p>
    <% end %>

		<h3><%= pluralize_with_delimiter(@collection.size_int, 'thing') %></h3>

    <% if @things.size > 0 %>
  		<ol>
        <% @things.each do |thing| %>
          <li>
          	<%= link_to thing.title, thing_path(thing.id) %>
        	<% thing.types_of_things.each do |type_of_thing| %>
	        	&nbsp;&nbsp;<%= type_of_thing.name %>
	        <% end %>
			</li>

        <% end %>
  		</ol>
    <% else %>

      <p>We don’t have item level data for this collection. Sorry about that.</p>
    <% end %>



    <% if @collection['catalog_comments'] %>

      <h6>Staff comments on this collection</h6>

      <p><%= Rinku.auto_link(@collection['catalog_comments']).html_safe %></p>
    <% end %>
	</div>

</div>


