<% content_for :title, "#{@collection.name} - " %>

<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette for collection (one highlighted location)
	</div>
</div>

<div class="row">
	<div class="one column inst-<%= @collection.institution_id.downcase %>-bg center"><%= link_to @collection.institution_id, institution_path(@collection.institution_id) %></div>
	<div class="eleven columns">
		<h1 class="buffer"><%= @collection.name %></h1>
	</div>
</div>
<div class="row">
	<div class="offset-by-one eight columns blurb">

		<p>
			This collection mostly contains <%= @collection.types_of_things.collect {|type_of_thing| link_to(type_of_thing, item_type_path(type_of_thing)) }.to_sentence(last_word_connector: ' and ').html_safe %> about <%= @collection.subjects.collect {|subject| link_to(subject, subject_path(subject)) }.to_sentence(last_word_connector: ' and ').html_safe %> from about <%= @collection.dates %>. Materials are either from or about <%= @collection.places.collect {|places| link_to(places, "#") }.to_sentence(last_word_connector: ' and ').html_safe %>.

			&nbsp; <small>[ <a href="#">Expand</a> ]</small>
		</p>

    <% if @collection.people.size > 0 %>
  		<p>
        <%= @collection.people.collect {|person| link_to(person, "#") }.to_sentence(last_word_connector: ' and ').html_safe %> figure quite prominently. There are 0,000 other characters.
  			&nbsp; <small>[ <a href="#">Reveal</a> ]</small>
  		</p>
    <% end %>

		<h3><%= pluralize_with_delimiter(@collection.size_int, 'thing') %></h3>

		<ol>
			<li><a href="#">Thing</a></li>
			<li><a href="#">Thing</a></li>
		</ol>

	<!-- If there is no digital metadata available, show this: -->
		
		<h6>FINDING THIS AT OXFORD</h6>
		<p>http://solo.ouls.ox.ac.uk/OXVU1:LSCOP_OX:oxfaleph014792987; http://
/OXVU1:LSCOP_OX:oxfaleph011185388

The Neubauer catalogue (2 volumes) is the most complete list. This was later updated</p>
	
	</div>
	
	
	
	<div class="three columns stats">

<style>
.pie {
  width: 150px; height: 150px;
  border-radius: 50%;
  background: #657b83;
  opacity: .5;
}
</style>		
	
		<div class="pie"></div>

		<h6>STATS</h6>
		<ul>
			<li><%= percentage_with_varying_accuracy(@collection.digitized_metadata_size_int.to_f / @collection.size_int) %> have digital metadata</li>
			<li><%= percentage_with_varying_accuracy(@collection.digitized_size_int.to_f / @collection.size_int) %> have a digitised version</li>
		</ul>
		
	</div>
</div>


