<% content_for :title, "#{@collection.name} - " %>

<% content_for :structural_nav do %>
  &rarr; <%= link_to "Collections", collections_path %>
  &rarr; <%= @collection.name %>
<% end %>


<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette for collection (one highlighted location)
	</div>
</div>

<div class="row">
	<div class="one column inst-<%= @collection.institution_id.downcase %>-bg center"><%= link_to @collection.institution_id, institution_path(@collection.institution_id) %></div>
	<div class="eleven columns">
		<h1 class="buffer"><%= @collection.name %></h1>
	</div>
</div>
<div class="row">
	<div class="offset-by-one eight columns blurb">

		<p>
			This collection mostly contains
			<%= @collection.types_of_things.collect {|type_of_thing| link_to(type_of_thing, item_type_path(type_of_thing)) }.to_sentence(last_word_connector: ' and ').html_safe %>

    <% if @collection.subjects.size > 0 %>

    		about
    		<%= @collection.subjects.collect {|subject| link_to(subject, subject_path(subject)) }.to_sentence(last_word_connector: ' and ').html_safe %>

	<% end %>

			  dated about <%= @collection.dates %>.
			  Materials are either from or about <%= @collection.places.collect {|places| link_to(places, "#") }.to_sentence(last_word_connector: ' and ').html_safe %>.

			&nbsp; <small>[ <a href="#">Expand</a> ]</small>
		</p>

    <% if @collection.people.size > 0 %>
  		<p>
        <%= @collection.people.collect {|person| link_to(person, "#") }.to_sentence(last_word_connector: ' and ').html_safe %> figure quite prominently. There are 0,000 other characters.
  			&nbsp; <small>[ <a href="#">Reveal</a> ]</small>
  		</p>
    <% end %>

		<h3><%= pluralize_with_delimiter(@collection.size_int, 'thing') %></h3>

		<ol>

      <% @things.each do |thing| %>
        <li><%= link_to thing.title, thing_path(thing.id) %></li>
      <% end %>
		</ol>

	<!-- If there is no digital metadata available, show this: -->

		<h6>FINDING THIS AT OXFORD</h6>
    <p><%= h @collection['catalog_comments'] %></p>
	</div>



	<div class="three columns stats">

  <style>
  </style>

		<div>

      <% if @collection.digitized_metadata_size_int && @collection.size_int && @collection.size_int > 0 %>
        <svg id="collection-pie" class="<%= @collection.institution_id %>" width="150" height="150" viewbox="0 0 150 150">
          <% end_angle = (@collection.digitized_metadata_size_int.to_f / @collection.size_int * 360).floor %>
          <% if end_angle >= 360 %>
            <circle cx="75" cy="75" r="75" class="pie full" />
          <% else %>
            <circle cx="75" cy="75" r="75" class="pie" />
            <path transform="rotate(-90,75,75)" d="<%= describe_pie_slice(75,75,75,0,end_angle) %>" class="slice">
          <% end %>
        </svg>
      <% end %>

    </div>

		<h6>STATS</h6>
		<ul>
			<li><%= percentage_with_varying_accuracy(@collection.digitized_metadata_size_int.to_f / @collection.size_int) %> have digital metadata</li>
			<li><%= percentage_with_varying_accuracy(@collection.digitized_size_int.to_f / @collection.size_int) %> have a digitised version</li>
		</ul>

	</div>
</div>


