<%# content_for :title, "#{@institution['institution']} - " %>

<% content_for :structural_nav do %>
  &rarr; Institutions
  &rarr; <%= @institution.name %>
<% end %>


<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette vis
	</div>
</div>

<h1 class="buffer inst-<%= @institution.id.downcase %>-bg"><%= @institution.name %></h1>

<div class="row">

	<div class="eight columns blurb">
		<p>

		This place looks after about <%= pluralize_with_delimiter(@institution.things_count, 'thing') %>.

		<!-- random sample of top 10 subjects -->

    <% links = @institution.subjects[0..9].shuffle[0..2].collect do |subject| %>
      <% link_to(subject, subject_path(subject)) %>
    <% end.to_sentence.html_safe %>

		They're mostly things related to <%= links %>, but also some lesser known things about

    <% links = @institution.subjects.reverse[0..9].shuffle[0..2].collect do |subject| %>
      <% link_to(subject, subject_path(subject)) %>
    <% end.to_sentence.html_safe %>

    <%= links %>.

		&nbsp; [ <small><a href="#">Show everything</a></small> ]

		<p>If you wandered around in the collections -- and wouldn't that be brilliant -- you'd see things like <a href="type">Type of thing</a>, <a href="type">Type of thing</a>, <a href="type">Type of thing</a>, <a href="type">Type of thing</a> and <a href="type">Type of thing</a>. There are even some <a href="type">Type of thing</a> and <a href="type">Type of thing</a>...</p>

		<h3><%= pluralize_with_delimiter(@institution.collections.size, 'collection') %></h3>

		<ol>
      <% @institution.collections.each do |collection| %>
        <li><%= link_to collection.name, collection_path(collection.id) %> <small><%= pluralize_with_delimiter(collection.size_int, 'thing') %></small></li>
      <% end %>
		 </ol>

	</div>

	<div class="four columns">

		<p>
			<a data-flickr-embed="true"  href="<%= @institution.photo_url %>" title="The Ashmolean Museum"><img src="<%= @institution.photo_source_url %>" width="240" height="180" alt="The Ashmolean Museum"></a>
			<br />
			<small>The Ashmolean Museum by <%= @institution.photo_credit %> (<%= @institution.photo_licence %>)</small>
		</p>
		<p>The <%= @institution.name %> was founded <%= pluralize_with_delimiter(Time.now.year - @institution.founded, 'year') %> ago, in <%= @institution.founded %>. </p>

		<p>
      <%= link_to 'Visit the website', @institution.website %>?
		</p>
	</div>

</div>
