<% content_for :title, @thing.title + " - " %>

<% content_for :structural_nav do %>
  &rarr; ?
  &rarr;
<% end %>

<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette for item (one highlighted location) ? (can only draw if item knows its collection)
	</div>
</div>


<div class="row">
	<div class="one column inst-<%= @thing["gfs_institution_id"].downcase %>-bg center">
		<a href="LINK HERE"><%= @thing["gfs_institution_id"] %></a></div>
		
	<div class="eleven columns">
		<h1 class="buffer"><%= @thing.title %></h1>
	</div>
</div>

<div class="row">
	<div class="offset-by-one seven columns blurb">

    <% if @thing.description %>
		  <p><%= @thing.description %></p>
    <% end %>

	</div>
	<div class="four columns stats">

		<!-- if department -->
		<h6>Department</h6>
		<%= @thing["gfs_department"] %>

		<!-- if item type -->
		<h6>Type of thing</h6>
		<a href="doesn't work yet"><%= @thing["gfs_item_type"] %></a>
				
		<!-- if item type -->
		<h6>Subjects</h6>
    <% links = @thing['gfs_subject'].collect do |subject| %>
      <% link_to subject, subject_path(subject) %>
    <% end %>
    <%= links.to_sentence.html_safe %>

	</div>
</div>

<div class="row">
	<div class="offset-by-one eleven columns">
	<p>Would you like to view the <a href="#">raw record</a>?</p>
	</div>
</div>

<h3>Debugging code-splat</h3>
<%= debug @thing %>
