<% content_for :title, "THING TITLE - " %>

<% content_for :structural_nav do %>
  &rarr; ?
  &rarr;
<% end %>

<%= debug @thing %>

<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette for item (one highlighted location) ? (can only draw if item knows its collection)
	</div>
</div>


<div class="row">
	<div class="one column inst-<%= @thing["gfs_institution_id"].downcase %>-bg center">
		<a href="LINK HERE"><%= @thing["gfs_institution_id"] %></a></div>
		
	<div class="eleven columns">
		<h1 class="buffer"><%= @thing["gfs_title"] %></h1>
	</div>
</div>

<div class="row">
	<div class="offset-by-one seven columns blurb">
	
		<p>If there's a description, let's show this block.</p>
		
	</div>
	<div class="four columns">
		<ul>
			<li>In the <%= @thing["gfs_department"] %> department.</li>
			<li>It's a <a href="#">[type of thing]</a>.</li>
			<li>It's about <a href="subject">subject</a>, <a href="subject">subject</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="offset-by-one eleven columns">
	<h3>The raw record</h3>
	<pre class="metadata-output">{
  "001": "010314600", 
  "003": "UkOxU", 
  "005": "19960511101126.0", 
  "008": "900815s1990    enka          000 0 eng d", 
  "015": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "GB-8934886"
      }
    ]
  }, 
  "020": [
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "0333425421 pbk"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "0333425413"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "9780333425428"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "9780333425411"
        }
      ]
    }
  ], 
  "050": {
    "ind1": " ", 
    "ind2": "0", 
    "subfields": [
      {
        "a": "QC242.2"
      }
    ]
  }, 
  "082": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "620.25"
      }, 
      {
        "2": "20"
      }
    ]
  }, 
  "092": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "D0400658612"
      }
    ]
  }, 
  "100": [
    {
      "ind1": "1", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Coates, R. F. W."
        }, 
        {
          "q": "(Rodney F W)"
        }, 
        {
          "0": "AUT10011943173"
        }, 
        {
          "P": "Y"
        }
      ]
    }, 
    {
      "ind1": "1", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Coates, Rodney F. W"
        }, 
        {
          "0": "AUT10011943173"
        }, 
        {
          "P": "N"
        }
      ]
    }
  ], 
  "245": {
    "ind1": "1", 
    "ind2": "0", 
    "subfields": [
      {
        "a": "Underwater acoustic systems /"
      }, 
      {
        "c": "Rodney F.W. Coates"
      }
    ]
  }, 
  "260": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "Basingstoke :"
      }, 
      {
        "b": "Macmillan Education,"
      }, 
      {
        "c": "1990"
      }
    ]
  }, 
  "300": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "x, 188 p :"
      }, 
      {
        "b": "ill ;"
      }, 
      {
        "c": "24 cm"
      }
    ]
  }, 
  "650": [
    {
      "ind1": " ", 
      "ind2": "0", 
      "subfields": [
        {
          "a": "Underwater acoustics"
        }, 
        {
          "0": "AUT10010089120"
        }, 
        {
          "P": "Y"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": "0", 
      "subfields": [
        {
          "a": "Hydroacoustics"
        }, 
        {
          "0": "AUT10010089120"
        }, 
        {
          "P": "N"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": "0", 
      "subfields": [
        {
          "a": "Acoustics, Underwater"
        }, 
        {
          "0": "AUT10010089120"
        }, 
        {
          "P": "N"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": "0", 
      "subfields": [
        {
          "a": "Underwater sound"
        }, 
        {
          "0": "AUT10010089120"
        }, 
        {
          "P": "N"
        }
      ]
    }
  ], 
  "830": {
    "ind1": " ", 
    "ind2": "0", 
    "subfields": [
      {
        "a": "Macmillan new electronics"
      }, 
      {
        "0": "AUT10012669392"
      }, 
      {
        "P": "Y"
      }
    ]
  }, 
  "852": {
    "ind1": "8", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "UkOxU"
      }, 
      {
        "b": "RSLBL"
      }, 
      {
        "h": "M90.E02301"
      }, 
      {
        "m": "(Box B000000218774)"
      }, 
      {
        "4": "Radcliffe Science Library"
      }
    ]
  }, 
  "AUT": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "Coates, Rodney F. W"
      }
    ]
  }, 
  "AVA": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "BOD50"
      }, 
      {
        "b": "RSLBL"
      }, 
      {
        "d": "M90.E02301 (Box B000000218774)"
      }, 
      {
        "e": "unavailable"
      }, 
      {
        "t": "Unavailable"
      }, 
      {
        "f": "1"
      }, 
      {
        "g": "1"
      }, 
      {
        "h": "N"
      }, 
      {
        "i": "0"
      }, 
      {
        "k": "8"
      }
    ]
  }, 
  "BPE": {
    "ind1": "R", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "Coates, Rodney F. W"
      }
    ]
  }, 
  "SUB": [
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Hydroacoustics"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Acoustics, Underwater"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Underwater sound"
        }
      ]
    }
  ], 
  "SUL": [
    {
      "ind1": "T", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Hydroacoustics"
        }
      ]
    }, 
    {
      "ind1": "T", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Acoustics, Underwater"
        }
      ]
    }, 
    {
      "ind1": "T", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Underwater sound"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Underwater sound"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Hydroacoustics"
        }
      ]
    }, 
    {
      "ind1": " ", 
      "ind2": " ", 
      "subfields": [
        {
          "a": "Acoustics, Underwater"
        }
      ]
    }
  ], 
  "TCA": {
    "ind1": " ", 
    "ind2": " ", 
    "subfields": [
      {
        "a": "D/L conversion to Geac"
      }
    ]
  }, 
  "gfs_author": "Coates, R. F. W. (Rodney F W) AUT10011943173 Y", 
  "gfs_collection_id": "bod-main", 
  "gfs_department": "Bodleian Main Collection", 
  "gfs_description": [
    "x, 188 p :"
  ], 
  "gfs_id": "bod-solo::aleph-publish:010314600", 
  "gfs_institution_id": "BOD", 
  "gfs_item_type": "BK", 
  "gfs_pubyear": "1990", 
  "gfs_pubyear_clean": 1990, 
  "gfs_source_id": "bod-solo", 
  "gfs_subject": [
    "Underwater acoustics", 
    "Hydroacoustics", 
    "Acoustics, Underwater", 
    "Underwater sound"
  ], 
  "gfs_title": "Underwater acoustic systems /", 
  "marc_leader": "00000nam a22002293a 4500"
}
</pre>
	</div>
</div>