<% content_for :title, "THING TITLE - " %>

<% content_for :structural_nav do %>
  &rarr; ?
  &rarr;
<% end %>

<%= debug @thing %>

<div class="mapette-container row">
	<div class="twelve columns mapette">
		mapette for item (one highlighted location) ? (can only draw if item knows its collection)
	</div>
</div>


<div class="row">
	<div class="one column inst-<%= @thing["gfs_institution_id"].downcase %>-bg center">
		<a href="LINK HERE"><%= @thing["gfs_institution_id"] %></a></div>
		
	<div class="eleven columns">
		<h1 class="buffer"><%= @thing["gfs_title"] %></h1>
	</div>
</div>

<div class="row">
	<div class="offset-by-one seven columns blurb">
	
		<p><%= @thing["gfs_description"] %></p>
		
	</div>
	<div class="four columns">
		<ul>
			<li>In the <%= @thing["gfs_department"] %> department.</li>
			<li>It's a <a href="#">[type of thing]</a>.</li>
			<li>It's about <a href="subject">subject</a>, <a href="subject">subject</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="offset-by-one eleven columns">
	<p>Would you like to view the <a href="#">raw record</a>?</p>
	</div>
</div>