<% content_for :title, "#{human_superfield_name(@superfield)}: #{@id} – " %>

<% content_for :structural_nav do %>
  &rarr; <%= human_superfield_name(@superfield) %>
  &rarr; <%= @id %>
<% end %>

<div class="mapette-container row">
	<div class="twelve columns mapette">
		<a href="/" title="this is fake"><%= image_tag("mapette-placeholder.png", :alt => "this is fake") %></a> (this is fake, and a bit small)
	</div>
</div>

<div class="row">
	<div class="nine columns buffer">
		<h1><%= @id %></h1>
	</div>
	<div class="three columns">
		<div style="display:block;">
			<div style="float:left; width:6%;" class="inst-ash-bg">&nbsp;</div>
			<div style="float:left; width:15%;" class="inst-hrb-bg">&nbsp;</div>
			<div style="float:left; width:34%;" class="inst-bod-bg">&nbsp;</div>
			<div style="float:left; width:45%;" class="inst-prm-bg">&nbsp;</div>
		</div>
		<small class="dark">distribution across institutions</small>
	</div>	
</div>
<div class="row">
	<div class="nine columns blurb">
			
		<!--
		This will be quite complex copy that accounts for which superfield you're looking at, and whether or not the related superfields have any links to show here, or not.
		For example...
		-->
		
		<p>There are about 00,000 <%= @id %> across Oxford, mostly from or about <a href="">Place</a> and <a href="">Place</a>. They relate to <a href="subject">Subject</a>, <a href="subject">Subject</a>, <a href="subject">Subject</a> and <a href="subject">Subject</a>, and it seems like they cover a time period like DATE to DATE.</p>
		<p>Some 00 people are connected to them, like <a href="/people/show.html">Person</a>, <a href="/people/show.html">Person</a>, and <a href="/people/show.html">Person</a>.</p>
		
		<h6>Types of thing</h6>
		<p><a href="#">Type</a>, <a href="#">Type</a>, <a href="#">Type</a>, <a href="#">Type</a>, <a href="#">Type</a>, <a href="#">Type</a>
		
		<h4>In 0,000 collections</h4>
		
		<div class="row">
			<div class="six columns">
				<div class="collection-in-list">
					<ul>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-ash">ASH</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-hrb">HRB</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-bod">BOD</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-bod">BOD</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-prm">PRM</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-prm">PRM</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-prm">PRM</span></small></li>
					</ul>
				</div>
			</div>
			<div class="six columns">
				<div class="collection-in-list">
					<ul>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-hrb">HRB</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-bod">BOD</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-bod">BOD</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-bod">BOD</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-prm">PRM</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-prm">PRM</span></small></li>
						<li><a href="#">Collection Name</a>  <small>0,000 things at <span class="inst-prm">PRM</span></small></li>
					</ul>
				</div>
			
			</div>
		</div>

		<h4><%= pluralize_with_delimiter(@things_count, 'thing') %></h4>

		<ol>

      <% @things.each do |thing| %>
        <li><%= link_to thing.title, thing_path(thing.id), class: 'thing' %></li>
      <% end %>
		</ol>
	
	</div>
	<div class="three columns">
		<h6>STATS</h6>
		<ul>
			<li>00% of things have digital metadata</li>
			<!-- There are no digital metadata records, yet -->
			
			<li>00% have a digitised version</li>
			<!-- Nothing has a digitised version, yet -->
			
		</ul>		
	</div>

</div>
