<% content_for :title, "#{human_superfield_name(@superfield)}: #{@id} – " %>

<% content_for :structural_nav do %>
  &rarr; <%= link_to human_superfield_name(@superfield), superfield_index_path(@superfield) %>
  &rarr; 
<% end %>

<div class="row">
	<div class="twelve columns buffer">
		<h1><%= @id %></h1>
	</div>
</div>

<div class="row">

	<div class="four columns stats">

    <%= render partial: 'mapette/mapette',
      locals: {superfield_name: @superfield,
               superfield_value: @id}
    %>

		<br /><br />
		<h6>STATS</h6>
		<ul>
      <li>
        <% if @things_count > 0 %>
          <%= pluralize_with_delimiter(@things_count, 'thing') %>
        <% else %>
              We aren't sure of size
        <% end %>
      </li>
			<li><span class="pretend" title="not possible yet">00</span>% of things have metadata online</li>

			<li><span class="pretend" title="not possible yet">00</span>% have a digitised version</li>

		</ul>
		

		<h6>Where are these things?</h6>
		
		    <% if @things_by_institution.size > 0 %>
      <div style="display:block;">
        <% total = @things_by_institution.map {|x| x.count}.sum %>
        <% @things_by_institution.each do |things_by_institution| %>
          <div style="float:left; width: <%= 100 * (things_by_institution.count.to_f / total.to_f) %>%;" class="inst-<%= things_by_institution.institution_id.downcase %>-bg">&nbsp;</div>
        <% end %>
      </div>
    <% end %>
		
		
	</div>


	<div class="eight columns blurb">

		<p>

    <% if @things_count > 0 %>
      There <%= pluralize_without_count(@things_count, "is", "are") %> about <%= pluralize_with_delimiter(@things_count, 'thing') %> about "<%= @id %>" across Oxford.
    <% else %>
      It's hard to know how many things there are about '<%= @id %>' across Oxford, because we don't have digital metadata for everything.
    <% end %>


      <% if (@things_by_subjects.size > 0) && (@superfield != 'gfs_subject') %>
        <%= pluralize_without_count(@things_count, "It relates", "They relate") %> to
        <% subject_links = @things_by_subjects[0,10].collect do |things_by_subject| %>
          <% link_to(things_by_subject.subject, subject_path(things_by_subject.subject)) %>
        <% end.to_sentence.html_safe %>
        <%= subject_links %>.
      <% end %>

      <% if @min_pubyear && @max_pubyear %>
        The data we have makes it seem as if they cover a time period like <%= @min_pubyear %> to <%= @max_pubyear %> (but that may well be wrong).
      <% end %>


    </p>

    <% if @things_by_authors.size > 0 %>

      <h6>Related authors</h6>
      <p>
        <%= @things_by_authors[0,10].collect do |things_by_authors| %>
          <% link_to(things_by_authors.author, person_path(things_by_authors.author)) %>
        <% end.to_sentence(words_connector: '; ',last_word_connector: '; ').html_safe %>
      </p>
      
    <% end %>

    <% if @things_by_item_type.size > 0 %>

      <h6>Types of thing</h6>
		  <p>
        <%= @things_by_item_type[0,10].collect do |thing_by_item_type| %>
          <% link_to(thing_by_item_type.item_type, item_type_path(thing_by_item_type.item_type)) %>
        <% end.to_sentence(words_connector: '; ',last_word_connector: '; ').html_safe %>
      </p>
      
    <% end %>

    <% if @things_by_authors.any? || @things_by_item_type.any? || @things_by_subjects.any? %>

    <div class="js-show-details">
      [ <span class="js-show">Show more</span> ]
    

      <div class='js-details'>
        <div class="row">
          <div class="six columns">
            <% if @things_by_authors.size > 0 %>
              <h5>Authors</h5>

              <%= @things_by_authors.collect do |a| %>
                <% link_to a.author, people_path(a.author) %>
              <% end.join('; ').html_safe %>
            <% end %>

          </div>
          <div class="six columns">
            <% if @things_by_item_type.size > 0 %>
              <h5>Types of things</h5>

              <%= @things_by_item_type.collect do |type_of_thing| %>
                <% link_to type_of_thing.item_type, item_type_path(type_of_thing.item_type) %>
              <% end.join('; ').html_safe %>
            <% end %>

          </div>
        </div>
        <div class="row">
          <div class="six columns">
            <% if @things_by_subjects.size > 0 %>
              <h5>Subjects</h5>

              <%= @things_by_subjects.collect do |s| %>
                <% link_to s.subject, subject_path(s.subject) %>
              <% end.join('; ').html_safe %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  <% end %>

		<h4>In <%= pluralize_with_delimiter(@things_in_collections.size, 'collection') %></h4>

		<div class="row">

      <% @things_in_collections.each_with_index
          .partition {|x, i| i.even? }
          .each do |things_in_collections_group| %>


          <div class="collection-in-list">
            <ul>
              <% things_in_collections_group.map {|x| x[0] }.each do |things_in_collection| %>

                <% collection = things_in_collection.collection %>
                <%= render partial: 'collections/collection_small',
                           locals: {collection: collection} %>
              <% end %>
            </ul>
          </div>

      <% end %>
    </div>

    <% if @things_count > 0 %>
      <h4><%= pluralize_with_delimiter(@things_count, 'thing') %></h4>
    <% end %>

  		(Please note: We're only showing 50 results in this prototype.)

    <% if @things.length > 0 %>
  		<ol>

        <% @things.each do |thing| %>
          <li>
          	<%= link_to thing.title, thing_path(thing.id) %>
          	<% thing.types_of_things.each do |type_of_thing| %>
  	        	&nbsp;&nbsp;<%= type_of_thing.name %>
  	        <% end %>
          </li>
        <% end %>
  		</ol>
    <% end %>

	</div>
</div>
