<!DOCTYPE html>
<html lang="en">

  <head>
	<title><%= yield :title %> Oxford Explorer</title>  	
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1">
    	<%= csrf_meta_tags %>

	    <%= javascript_include_tag 'application' %>
		<script src="https://use.typekit.net/cpp6nbx.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
			
	</head>
	
	<body>
	<a name="top"></a>
	

	<div class="container">

		<header>
			<div class="row">
				<div class="seven columns">
					<a href="/">Home</a>
          <%= yield :structural_nav %>
				</div>
				<div class="five columns right">
					THE OXFORD UNIVERSITY EXPLORER <sup>prototype</sup>
				</div>
			</div>
		</header>

	    <%= yield %>

		<footer>
			<div class="row">
				<div class="six columns">
					<a href="#top">&uarr; Top</a>
				</div>
				<div class="six columns right">
					By <a href="http://gfns.uk">Good, Form & Spectacle</a>
					&bull; 
					<a href="/about">About this work</a>
				</div>
			</div>
		</footer>

	</div>
	
	
	</body>

</html>
